[submodule "crypto-browserify"]
	path = crypto-browserify
	url = git@github.com:tarqd/crypto-browserify.git
[submodule "os-browserify"]
	path = os-browserify
	url = git@github.com:tarqd/os-browserify.git
