[submodule "crypto-browserify"]
	path = crypto-browserify
	url = https://github.com/tarqd/crypto-browserify.git
[submodule "os-browserify"]
	path = os-browserify
	url = https://github.com/tarqd/os-browserify.git
